In [1]:
import pandas as pd
import numpy as np
import itertools

# Reading CSV files of pollutants and meterological data from 2019-2023

In [2]:
df2019=pd.read_csv('Data/Raw_data_1Hr_2019_site_1420_Ashok_Vihar_Delhi_DPCC_1Hr.csv')
df2020=pd.read_csv('Data/Raw_data_1Hr_2020_site_1420_Ashok_Vihar_Delhi_DPCC_1Hr.csv')
df2021=pd.read_csv('Data/Raw_data_1Hr_2021_site_1420_Ashok_Vihar_Delhi_DPCC_1Hr.csv')
df2022=pd.read_csv('Data/Raw_data_1Hr_2022_site_1420_Ashok_Vihar_Delhi_DPCC_1Hr.csv')
df2023=pd.read_csv('Data/Raw_data_1Hr_2023_site_1420_Ashok_Vihar_Delhi_DPCC_1Hr(1).csv')

In [3]:
df2019

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2019-01-01 00:00:00,408.25,567.25,248.03,146.60,279.88,43.20,20.88,4.15,2.10,...,NaN,9.45,91.02,0.20,138.90,0.0,0.0,1.03,996.40,NaN
1,2019-01-01 01:00:00,466.75,606.75,230.75,101.20,242.12,43.50,16.12,4.75,2.95,...,NaN,8.90,95.50,0.30,160.20,0.0,0.0,0.88,996.38,NaN
2,2019-01-01 02:00:00,496.00,663.25,179.60,80.95,189.10,37.55,14.85,4.10,1.90,...,NaN,8.62,97.23,0.28,145.15,0.0,0.0,1.00,996.18,NaN
3,2019-01-01 03:00:00,467.25,640.00,142.55,66.27,151.60,43.03,14.15,3.68,2.15,...,NaN,8.15,99.05,0.28,128.23,0.0,0.0,1.18,995.90,NaN
4,2019-01-01 04:00:00,453.25,615.50,92.87,56.63,105.92,42.00,12.40,2.90,1.90,...,NaN,7.60,99.40,0.25,113.40,0.0,0.0,1.25,995.20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2019-12-31 19:00:00,454.00,639.00,251.60,71.75,243.25,64.95,24.05,6.58,6.68,...,NaN,7.93,85.85,0.20,97.02,0.0,0.0,1.12,995.48,NaN
8756,2019-12-31 20:00:00,729.50,758.00,304.52,68.07,284.45,76.12,34.62,9.15,7.62,...,NaN,7.68,87.75,0.28,52.50,0.0,0.0,1.35,995.90,NaN
8757,2019-12-31 21:00:00,915.00,NaN,349.82,52.10,312.92,79.45,40.70,0.01,7.52,...,NaN,7.62,88.90,0.40,110.58,0.0,0.0,1.08,996.10,NaN
8758,2019-12-31 22:00:00,NaN,NaN,418.60,55.30,370.70,80.95,43.05,0.01,7.50,...,NaN,7.55,89.28,0.35,39.08,0.0,0.0,1.40,996.05,NaN
8759,2019-12-31 23:00:00,729.00,965.00,147.10,46.97,144.90,55.53,21.62,4.42,4.55,...,NaN,7.48,89.62,0.28,80.88,0.0,0.0,1.15,995.65,NaN

In [4]:
df2020

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2020-01-01 00:00:00,583.0,759.5,78.85,41.30,86.32,46.08,9.70,2.50,3.75,...,NaN,7.32,89.78,0.32,62.68,0.0,0.0,1.30,995.50,NaN
1,2020-01-01 01:00:00,393.0,502.0,56.72,35.88,65.32,41.62,7.05,NaN,4.40,...,NaN,7.18,90.22,0.32,40.80,0.0,0.0,1.38,995.35,NaN
2,2020-01-01 02:00:00,337.5,447.5,51.02,32.78,59.05,40.80,5.45,NaN,4.47,...,NaN,7.05,90.48,0.30,98.62,0.0,0.0,1.17,995.30,NaN
3,2020-01-01 03:00:00,328.5,438.0,63.62,29.08,67.38,41.75,3.92,NaN,4.40,...,NaN,6.82,92.10,0.30,61.72,0.0,0.0,1.27,995.28,NaN
4,2020-01-01 04:00:00,327.0,426.0,63.25,26.32,65.60,42.30,3.45,NaN,4.00,...,NaN,6.72,92.85,0.35,96.40,0.0,0.0,1.18,995.32,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020-12-31 19:00:00,351.0,496.0,57.80,83.72,91.62,46.60,22.90,3.40,3.53,...,NaN,13.08,88.05,0.60,182.30,0.0,0.0,0.88,992.88,NaN
8780,2020-12-31 20:00:00,415.5,565.0,84.12,76.70,109.40,47.30,21.65,4.08,3.45,...,NaN,12.50,91.62,0.25,57.95,0.0,0.0,1.45,993.38,NaN
8781,2020-12-31 21:00:00,448.5,596.0,115.35,80.22,136.72,46.42,19.90,4.92,4.08,...,NaN,12.12,93.82,0.32,44.22,0.0,0.0,1.52,993.65,NaN
8782,2020-12-31 22:00:00,494.5,647.0,146.85,81.12,162.90,46.68,22.55,5.40,4.10,...,NaN,11.92,94.30,0.28,52.12,0.0,0.0,1.50,993.22,NaN
8783,2020-12-31 23:00:00,564.0,714.5,152.02,71.50,161.98,46.92,22.60,5.55,4.55,...,NaN,11.68,94.45,0.30,45.15,0.0,0.0,1.60,992.90,NaN

In [5]:
df2021

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2021-01-01 00:00:00,628.00,744.25,169.42,60.12,170.10,47.50,22.75,5.62,4.92,...,NaN,11.22,94.50,0.28,47.38,0.0,0.0,1.60,993.05,NaN
1,2021-01-01 01:00:00,678.50,805.00,192.38,48.42,182.62,49.35,21.55,5.75,8.15,...,NaN,10.80,94.18,0.32,89.95,0.0,0.0,1.38,993.05,NaN
2,2021-01-01 02:00:00,689.00,830.25,204.90,37.25,186.85,36.25,24.35,5.50,6.95,...,NaN,10.42,93.72,0.35,41.82,0.0,0.0,1.62,993.02,NaN
3,2021-01-01 03:00:00,673.00,814.00,267.60,35.17,236.88,36.60,26.72,5.55,5.45,...,NaN,10.22,93.22,0.43,43.32,0.0,0.0,1.65,992.92,NaN
4,2021-01-01 04:00:00,662.00,786.25,253.95,31.10,223.65,39.00,27.58,5.80,5.92,...,NaN,10.00,93.00,0.30,75.18,0.0,0.0,1.48,992.98,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2021-12-31 19:00:00,170.75,292.25,89.22,61.00,105.20,43.98,19.10,4.05,4.40,...,NaN,11.10,77.30,0.23,107.70,0.0,0.0,6.20,993.35,NaN
8756,2021-12-31 20:00:00,264.50,410.25,105.55,66.32,121.32,47.45,14.48,4.68,3.85,...,NaN,10.88,80.72,0.35,103.38,0.0,0.0,6.22,993.88,NaN
8757,2021-12-31 21:00:00,309.00,449.25,125.30,57.65,132.82,48.10,13.05,5.15,4.05,...,NaN,10.85,82.45,0.30,94.48,0.0,0.0,6.22,994.28,NaN
8758,2021-12-31 22:00:00,325.75,456.75,114.05,68.03,129.15,47.70,14.30,4.78,3.80,...,NaN,10.85,82.10,0.38,159.12,0.0,0.0,5.70,993.85,NaN
8759,2021-12-31 23:00:00,355.00,470.50,106.88,65.05,121.72,46.98,13.58,5.32,5.45,...,NaN,10.38,85.30,0.25,92.95,0.0,0.0,6.00,993.75,NaN

In [6]:
df2022

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2022-01-01 00:00:00,428.75,533.50,137.55,46.52,136.90,45.28,16.60,6.23,6.22,...,NaN,10.17,90.15,0.25,112.43,0.0,0.0,6.02,993.50,NaN
1,2022-01-01 01:00:00,510.50,618.25,166.85,35.32,154.80,46.32,18.37,4.92,NaN,...,NaN,10.17,94.12,0.25,162.43,0.0,0.0,5.82,993.32,NaN
2,2022-01-01 02:00:00,484.50,605.00,120.00,44.20,121.30,36.70,13.90,3.00,4.47,...,NaN,10.17,94.32,0.35,176.65,0.0,0.0,5.75,993.05,NaN
3,2022-01-01 03:00:00,423.50,537.25,106.92,49.42,113.50,37.55,11.92,2.85,4.10,...,NaN,10.05,94.35,0.35,154.57,0.0,0.0,5.85,992.85,NaN
4,2022-01-01 04:00:00,342.00,419.25,91.12,46.70,99.15,46.50,8.62,2.25,3.52,...,NaN,9.93,94.30,0.25,142.80,0.0,0.0,5.93,992.58,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2022-12-31 19:00:00,140.75,229.75,9.93,43.40,53.32,66.75,6.43,0.45,4.05,...,NaN,15.15,82.45,0.52,176.18,0.0,0.0,5.30,988.95,NaN
8756,2022-12-31 20:00:00,135.00,199.75,21.40,50.90,72.30,63.65,5.65,0.72,2.25,...,NaN,14.42,86.25,0.22,157.40,0.0,0.0,5.42,989.32,NaN
8757,2022-12-31 21:00:00,141.75,216.25,30.15,47.55,77.67,62.58,4.88,0.98,2.28,...,NaN,13.70,92.55,0.23,80.28,0.0,0.0,5.58,989.50,NaN
8758,2022-12-31 22:00:00,166.75,241.75,34.28,45.90,80.18,63.60,4.82,1.25,2.15,...,NaN,13.38,94.55,0.22,157.43,0.0,0.0,5.25,989.53,NaN
8759,2022-12-31 23:00:00,192.75,254.75,20.05,43.10,63.15,60.95,4.97,0.95,2.08,...,NaN,13.55,94.68,0.50,173.45,0.0,0.0,5.25,990.05,NaN

In [7]:
df2023

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2023-01-01 00:00:00,145.00,200.50,11.175,39.400,50.575,59.775,4.700000,0.700000,2.150,...,NaN,13.650,94.350,0.375,181.575,0.0,0.0,5.225,990.150,NaN
1,2023-01-01 01:00:00,138.75,182.25,11.125,36.525,47.625,61.100,4.200000,0.200000,NaN,...,NaN,13.125,94.650,0.200,136.375,0.0,0.0,5.550,989.950,NaN
2,2023-01-01 02:00:00,138.50,177.75,9.100,35.600,44.700,57.000,4.200000,0.100000,2.000,...,NaN,12.800,93.975,0.250,145.825,0.0,0.0,5.600,989.675,NaN
3,2023-01-01 03:00:00,140.00,179.75,22.750,34.050,56.750,52.550,4.225000,0.150000,2.025,...,NaN,12.575,93.100,0.350,152.175,0.0,0.0,5.825,989.400,NaN
4,2023-01-01 04:00:00,142.75,189.75,39.075,31.925,70.975,48.125,4.275000,0.225000,2.250,...,NaN,12.800,93.050,0.900,184.725,0.0,0.0,5.675,989.450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,2023-12-31 19:00:00,230.50,425.25,6.850,32.175,39.025,59.425,7.533333,1.266667,2.575,...,NaN,11.575,83.000,1.025,59.800,0.0,0.0,5.250,983.000,NaN
8756,2023-12-31 20:00:00,238.50,433.25,5.575,30.200,35.750,58.750,8.225000,1.325000,2.700,...,NaN,11.425,83.225,1.025,58.425,0.0,0.0,5.250,983.000,NaN
8757,2023-12-31 21:00:00,233.00,417.50,5.625,26.550,32.200,57.875,7.650000,1.150000,2.650,...,NaN,11.200,83.425,1.000,59.125,0.0,0.0,5.425,983.100,NaN
8758,2023-12-31 22:00:00,208.75,353.00,5.200,25.125,30.350,56.925,8.625000,1.025000,2.925,...,NaN,11.025,83.975,1.100,58.025,0.0,0.0,5.125,983.100,NaN
8759,2023-12-31 23:00:00,194.75,328.50,4.750,25.050,29.775,55.725,8.500000,0.925000,2.650,...,NaN,10.925,84.200,1.000,59.600,0.0,0.0,5.325,983.100,NaN

## Concatenating pollutants and meterological values dataframes from 2019-2023

In [8]:
df_pollutant_list=[df2019,df2020,df2021,df2022,df2023]
pollutant_dataset=pd.concat(df_pollutant_list, ignore_index=True)

In [9]:
pollutant_dataset

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,MP-Xylene (µg/m³),AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s)
0,2019-01-01 00:00:00,408.25,567.25,248.030,146.600,279.880,43.200,20.880000,4.150000,2.100,...,NaN,9.450,91.020,0.200,138.900,0.0,0.0,1.030,996.40,NaN
1,2019-01-01 01:00:00,466.75,606.75,230.750,101.200,242.120,43.500,16.120000,4.750000,2.950,...,NaN,8.900,95.500,0.300,160.200,0.0,0.0,0.880,996.38,NaN
2,2019-01-01 02:00:00,496.00,663.25,179.600,80.950,189.100,37.550,14.850000,4.100000,1.900,...,NaN,8.620,97.230,0.280,145.150,0.0,0.0,1.000,996.18,NaN
3,2019-01-01 03:00:00,467.25,640.00,142.550,66.270,151.600,43.030,14.150000,3.680000,2.150,...,NaN,8.150,99.050,0.280,128.230,0.0,0.0,1.180,995.90,NaN
4,2019-01-01 04:00:00,453.25,615.50,92.870,56.630,105.920,42.000,12.400000,2.900000,1.900,...,NaN,7.600,99.400,0.250,113.400,0.0,0.0,1.250,995.20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-12-31 19:00:00,230.50,425.25,6.850,32.175,39.025,59.425,7.533333,1.266667,2.575,...,NaN,11.575,83.000,1.025,59.800,0.0,0.0,5.250,983.00,NaN
43820,2023-12-31 20:00:00,238.50,433.25,5.575,30.200,35.750,58.750,8.225000,1.325000,2.700,...,NaN,11.425,83.225,1.025,58.425,0.0,0.0,5.250,983.00,NaN
43821,2023-12-31 21:00:00,233.00,417.50,5.625,26.550,32.200,57.875,7.650000,1.150000,2.650,...,NaN,11.200,83.425,1.000,59.125,0.0,0.0,5.425,983.10,NaN
43822,2023-12-31 22:00:00,208.75,353.00,5.200,25.125,30.350,56.925,8.625000,1.025000,2.925,...,NaN,11.025,83.975,1.100,58.025,0.0,0.0,5.125,983.10,NaN
43823,2023-12-31 23:00:00,194.75,328.50,4.750,25.050,29.775,55.725,8.500000,0.925000,2.650,...,NaN,10.925,84.200,1.000,59.600,0.0,0.0,5.325,983.10,NaN

In [10]:
pollutant_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Timestamp            43824 non-null  object
 1   PM2.5 (µg/m³)        41192 non-null  float64
 2   PM10 (µg/m³)         41713 non-null  float64
 3   NO (µg/m³)           42411 non-null  float64
 4   NO2 (µg/m³)          42464 non-null  float64
 5   NOx (ppb)            42480 non-null  float64
 6   NH3 (µg/m³)          41803 non-null  float64
 7   SO2 (µg/m³)          42448 non-null  float64
 8   CO (mg/m³)           41423 non-null  float64
 9   Ozone (µg/m³)        41725 non-null  float64
 10  Benzene (µg/m³)      41402 non-null  float64
 11  Toluene (µg/m³)      42140 non-null  float64
 12  Xylene (µg/m³)       0 non-null      float64
 13  O Xylene (µg/m³)     0 non-null      float64
 14  Eth-Benzene (µg/m³)  0 non-null      float64
 15  MP-Xylene (µg/m³)    0 non-null      float64
 16  AT (°C)              42886 non-null  float64
 17  RH (%)               42910 non-null  float64
 18  WS (m/s)             42414 non-null  float64
 19  WD (deg)             42414 non-null  float64
 20  RF (mm)              42920 non-null  float64
 21  TOT-RF (mm)          43824 non-null  float64
 22  SR (W/mt2)           42918 non-null  float64
 23  BP (mmHg)            42887 non-null  float64
 24  VWS (m/s)            0 non-null      float64
dtypes: float64(24), object(1)
memory usage: 8.4+ MB

In [11]:
#pollutant_dataset.to_csv('Data/Pollutant_values.csv', encoding='utf-8', index=False)

# Reading AQI Values files

## Function to process dataframes

In [15]:
def process_dataframes(dff,value_varsl):
    dff.replace(0,np.nan,inplace=True)
    melted_df=pd.melt(dff,id_vars=['Date'],value_vars=value_varsl,var_name='Day number',value_name='AQI')
    return melted_df

value_vars_list_leap=[
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], #Jan
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29'], # Feb
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # March
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], #April
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # May
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # June
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # July
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # August
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # September
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # October
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # November
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']] # December

value_vars_list=[
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], #Jan
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28'], # Feb
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # March
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], #April
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # May
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # June
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # July
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # August
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # September
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31'], # October
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30'], # November
    ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31']] # December

In [16]:
months=['January','February','March','April','May','June',
        'July','August','September','October','November','December']

In [18]:
def is_leap_year(year):
    return (year%4==0 and year%100!=0) or (year%400==0)

## Function to convert excel files of months to csv and append dataframes to list

In [17]:
def process_months(year):
    dfs=[]
    for i in months:
        pd.read_excel(f'Data/{year}/AQI_hourly_{year}_{i}_Ashok_Vihar_Delhi_DPCC_{i}_{year}.xlsx', 'Sheet2', index_col=None).to_csv(f'Data/{year}/{year}_{i}.csv',encoding='utf-8',index=False)
        df=pd.read_csv(f'Data/{year}/{year}_{i}.csv')
        dfs.append(df)
    return dfs

## Function to create a list of year wise AQI dataframes

In [20]:
def process_year(start_year, end_year):
    temp_year_dfs=[]
    year_list=np.arange(start_year,end_year+1,1).tolist()
    for year in year_list:
        if is_leap_year(year):
            val_list=value_vars_list_leap
        else:
            val_list=value_vars_list
        list=process_months(year)
        final_year_df=pd.concat([process_dataframes(list[i],val_list[i]) for i in range(len(list))],ignore_index=True)
        temp_year_dfs.append(final_year_df)
    return temp_year_dfs

## Creating AQI dataset from 2019-2023

In [21]:
aqi_list=process_year(2019,2023)
len(aqi_list)

5

In [22]:
aqi_dataset=pd.concat(aqi_list,ignore_index=True)

In [23]:
aqi_dataset

           Date Day number    AQI
0      00:00:00          1  486.0
1      01:00:00          1  486.0
2      02:00:00          1  500.0
3      03:00:00          1  500.0
4      04:00:00          1  500.0
...         ...        ...    ...
43819  19:00:00         31  410.0
43820  20:00:00         31  391.0
43821  21:00:00         31  401.0
43822  22:00:00         31  402.0
43823  23:00:00         31  371.0

[43824 rows x 3 columns]

# Adding AQI as a column to pollutant dataframe from AQI dataframe

In [24]:
pollutant_dataset['AQI']=aqi_dataset['AQI']

In [25]:
pollutant_dataset

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),AQI
0,2019-01-01 00:00:00,408.25,567.25,248.030,146.600,279.880,43.200,20.880000,4.150000,2.100,...,9.450,91.020,0.200,138.900,0.0,0.0,1.030,996.40,NaN,486.0
1,2019-01-01 01:00:00,466.75,606.75,230.750,101.200,242.120,43.500,16.120000,4.750000,2.950,...,8.900,95.500,0.300,160.200,0.0,0.0,0.880,996.38,NaN,486.0
2,2019-01-01 02:00:00,496.00,663.25,179.600,80.950,189.100,37.550,14.850000,4.100000,1.900,...,8.620,97.230,0.280,145.150,0.0,0.0,1.000,996.18,NaN,500.0
3,2019-01-01 03:00:00,467.25,640.00,142.550,66.270,151.600,43.030,14.150000,3.680000,2.150,...,8.150,99.050,0.280,128.230,0.0,0.0,1.180,995.90,NaN,500.0
4,2019-01-01 04:00:00,453.25,615.50,92.870,56.630,105.920,42.000,12.400000,2.900000,1.900,...,7.600,99.400,0.250,113.400,0.0,0.0,1.250,995.20,NaN,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-12-31 19:00:00,230.50,425.25,6.850,32.175,39.025,59.425,7.533333,1.266667,2.575,...,11.575,83.000,1.025,59.800,0.0,0.0,5.250,983.00,NaN,410.0
43820,2023-12-31 20:00:00,238.50,433.25,5.575,30.200,35.750,58.750,8.225000,1.325000,2.700,...,11.425,83.225,1.025,58.425,0.0,0.0,5.250,983.00,NaN,391.0
43821,2023-12-31 21:00:00,233.00,417.50,5.625,26.550,32.200,57.875,7.650000,1.150000,2.650,...,11.200,83.425,1.000,59.125,0.0,0.0,5.425,983.10,NaN,401.0
43822,2023-12-31 22:00:00,208.75,353.00,5.200,25.125,30.350,56.925,8.625000,1.025000,2.925,...,11.025,83.975,1.100,58.025,0.0,0.0,5.125,983.10,NaN,402.0
43823,2023-12-31 23:00:00,194.75,328.50,4.750,25.050,29.775,55.725,8.500000,0.925000,2.650,...,10.925,84.200,1.000,59.600,0.0,0.0,5.325,983.10,NaN,371.0

# Saving the final dataframe to csv file

In [26]:
pollutant_dataset.to_csv('Data/AQI_Final_Dataset.csv',encoding='utf-8',index=False)

In [27]:
df_pol=pd.read_csv('Data/AQI_Final_Dataset.csv')

In [28]:
df_pol

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO (µg/m³),NO2 (µg/m³),NOx (ppb),NH3 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),...,AT (°C),RH (%),WS (m/s),WD (deg),RF (mm),TOT-RF (mm),SR (W/mt2),BP (mmHg),VWS (m/s),AQI
0,2019-01-01 00:00:00,408.25,567.25,248.030,146.600,279.880,43.200,20.880000,4.150000,2.100,...,9.450,91.020,0.200,138.900,0.0,0.0,1.030,996.40,NaN,486.0
1,2019-01-01 01:00:00,466.75,606.75,230.750,101.200,242.120,43.500,16.120000,4.750000,2.950,...,8.900,95.500,0.300,160.200,0.0,0.0,0.880,996.38,NaN,486.0
2,2019-01-01 02:00:00,496.00,663.25,179.600,80.950,189.100,37.550,14.850000,4.100000,1.900,...,8.620,97.230,0.280,145.150,0.0,0.0,1.000,996.18,NaN,500.0
3,2019-01-01 03:00:00,467.25,640.00,142.550,66.270,151.600,43.030,14.150000,3.680000,2.150,...,8.150,99.050,0.280,128.230,0.0,0.0,1.180,995.90,NaN,500.0
4,2019-01-01 04:00:00,453.25,615.50,92.870,56.630,105.920,42.000,12.400000,2.900000,1.900,...,7.600,99.400,0.250,113.400,0.0,0.0,1.250,995.20,NaN,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,2023-12-31 19:00:00,230.50,425.25,6.850,32.175,39.025,59.425,7.533333,1.266667,2.575,...,11.575,83.000,1.025,59.800,0.0,0.0,5.250,983.00,NaN,410.0
43820,2023-12-31 20:00:00,238.50,433.25,5.575,30.200,35.750,58.750,8.225000,1.325000,2.700,...,11.425,83.225,1.025,58.425,0.0,0.0,5.250,983.00,NaN,391.0
43821,2023-12-31 21:00:00,233.00,417.50,5.625,26.550,32.200,57.875,7.650000,1.150000,2.650,...,11.200,83.425,1.000,59.125,0.0,0.0,5.425,983.10,NaN,401.0
43822,2023-12-31 22:00:00,208.75,353.00,5.200,25.125,30.350,56.925,8.625000,1.025000,2.925,...,11.025,83.975,1.100,58.025,0.0,0.0,5.125,983.10,NaN,402.0
43823,2023-12-31 23:00:00,194.75,328.50,4.750,25.050,29.775,55.725,8.500000,0.925000,2.650,...,10.925,84.200,1.000,59.600,0.0,0.0,5.325,983.10,NaN,371.0